

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Birthstone+Bounce:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
  /*  text */
  body::before {
    display: block;
    content: '';
    height: 70px;
  }
 

       
    #chudep{font-family: 'Amatic SC', cursive;font-weight: bolder ;font-size: 200%;}
    #chudep2{font-family: 'Amatic SC', cursive;font-weight:bolder;font-size: 200%;}
    .fun{font-family: 'Dancing Script', cursive;color:yellow;font-size: 150%;}
   #navbar a:hover{color:rgb(255, 0, 234); font-family: 'Dancing Script', cursive;}
   #narbar a:{font-family: 'Amatic SC', cursive;}
   .btn{color:rgb(255, 242, 165);
  background-color:rgb(217, 0, 255);
font-family: 'Amatic SC', cursive;
}
h3 {font-family: 'Amatic SC', cursive;
  color:yellowgreen;}
  h2{font-family:'Amatic SC', cursive; 
  color:turquoise}
  

